body {
  background-color: rgb(210, 230, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('5566879.jpg');

}

* {
  box-sizing: border-box;
}

.cal-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.cal-container .calculator {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.calculator .head {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.calculator .calbody {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calbody .form-cont {
  /* background-color: cadetblue; */
  width: 100%;
  max-width: 423px;
}

 .form-cont form fieldset{
  display: flex;
  background-color: azure;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  margin: 4px 0px;
  border: 3px solid #760b0b;
  border-radius: 7px;
  align-items: baseline;
}

.form-cont form legend {
  font-size: 20px;
  padding: 0px 10px;
}

.form-cont .cinfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  padding: 0px 10px;
}

.cinfo select {
  width: 100%;
}

form .cinput {
  background-color: lightcoral;
  width: 100%;
  border-left: 2px solid black;
}

.cinput input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: azure;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 220px;
  max-height: 400px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  margin-top: 37px;
  margin-left: -16px;
  border-radius: 6px;
}

.dropdown-content p {
  padding: 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.dropdown-content p:hover {
  background-color: #ddd;
  border: 1px solid black;
}

.mover {
  background-color: #3498DB;
}

@media only screen and (max-width: 1000px) {
  .calbody {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .form-cont {
    margin: auto;
  }
}

.result {
  text-align: center;
}